content > h1 {
    font-weight: 100;
}
.cdescription>*{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.discover .thumbnail .cdescription {
    width: -webkit-fill-available;
}
.discover.cards {
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    box-shadow: -100px 0px 84px -94px inset white;
    
    height: 12em;
    display: flex;
    overflow-x: scroll;
    align-items: center;
}

.cards::-webkit-scrollbar {
    height: .5em;
}

.cards::-webkit-scrollbar-track {
    background: #00000000;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 10px;
}

.thumbnail {
    cursor:pointer;
}

.options>svg{
    display:none;
}

@media (max-width:630px){
    .logo>img{
        display:block;
    }
    .logo>h1 {
        display:none;
    }
}

@media (max-width:560px){
    .options>*:not(svg){
        display:none;
    }
    .options>svg{
        display:flex;
    }
}

input[type="search"] {
    padding:0;
    width: 100%;
    min-width: 75px;
    border-bottom:0
}