table {
    width:100%;
    border-spacing: .2em;
    table-layout: fixed;
    border-collapse: collapse;
}
tr > *{
    border-spacing: 0;
}

th {
    padding: 10px;
}
tr>th:last-child {
    border-radius: 0px 12px 0 0;
}
tr>th:first-child {
    border-radius: 12px 0px 0 0;
}
td,th {
    font-weight: normal;
}
tr {
    border-top: 2px solid var(--secondaryColor);
}