<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Quizzle - Admin Panel</title>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <script src="/papaparse.min.js"></script>

    <link rel="stylesheet" href="/style.css">
    <script src="/menu.js" defer></script>
    <style>form>button{border:2px solid #dfdfdf;}</style>
</head>

<body style="display:flex;flex-direction: column;">
    <div class="popup-darken invis"></div>
    <div class="banner" style="display: flex;justify-content: space-between;">
        <div class="logo">
            <img src="/favicon.svg">
            <h1>Quizzle</h1>
        </div>
        <div class="options">
            <h2><a href="/">Home</a></h2>
            <h2><a selected="true">Account</a></h2>
        </div>
    </div>
    <content>
        <div class="panel hold">
            <div class="sep"></div>
            <h1>- ADMIN PANEL -</h1>
            <div class="sep"></div>
            <button onclick="quiz()">Quiz Maker</button>
            <button onclick="account()">Change Password</button> <!--WORK IN PROGRESS-->
            <button onclick="makeAccount()">Account Creation</button>
            <button onclick="users()">Edit Users</button>
            <button onclick="quizzes()">Edit Quizzes</button>
            <div class="sep"></div>
            <button onclick="document.location.href='/logout'">Logout</button>

        </div>
    </content>
</body>

</html>
