<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quizzle - Admin Panel</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>

<body style="display:flex;flex-direction:row;">
    <center style="width: -webkit-fill-available;">
        <div style="height: 64px;">
            <img onclick="document.location.href='/logout'" id="logout" src="/door.svg">
        </div>
        <div class="hold">
            <div class="sep"></div>
            <h1>- ADMIN PANEL -</h1>
            <div class="sep"></div>
            <button onclick="quiz()">Quiz Maker</button>
            <button onclick="account()">Account Creation</button>
        </div>
    </center>
</body>

</html>