<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quizzle</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="banner">
        <h1>Quizzle</h1>
    </div>
    <br>
    <br>
    <br>
    <center>
        <h1>SEARCH FOR YOUR IDEAL QUIZ!</h1>
        <form action="/search" method="get">
            <input type="search" name="search" id="searchbar">
        </form>
        <h3>Just search for a keyword you want to learn!!!</h3>
        <section>
            <sep></sep>
            <h2>About Quizzle</h5>
            <p>Quizzle is an <a href="https://github.com/SemiConductorShortage/">open source</a> quiz system</p>
        </section>
    </center>
</body>
</html>
