<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Quizzle - <%=title%></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/style.css">
    <style>
        
    </style>
    <script src="/quiz.js" async defer></script>
</head>
<body>
    <div class="popup-darken invis"></div>
    <div class="banner">
        <div class="logo">
            <img src="/favicon.svg">
            <h1>Quizzle</h1>
        </div>
        <div class="options">
            <h2><a href="/">Home</a></h2>
            <h2><a href="/signin">Account</a></h2>
        </div>
    </div>
    <content>
        <br>
        <br>
        <br>
        <div class="hold">
            <%-questionHTML%>
        </div>
        <br />

        <button style="border: 5px solid #7349ff;" onclick="eoq()">Submit!</button>
        <br />
        <br />
        <br />
    </content>

</body>
</html>