<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Quizzle - <%=title%></title>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/style.css">
    <style>
        .hold > *, .hold > * > *, .score {
            transition: 200ms linear;
        }

    </style>
    <script src="/quiz.js" async defer></script>
</head>
<body>
    <div class="popup-darken invis"></div>
    <div class="banner">
        <div class="logo">
            <img src="/favicon.svg">
            <h1>Quizzle</h1>
        </div>
        <div class="options">
            <h2><a href="/">Home</a></h2>
            <h2><a href="/signin">Account</a></h2>
        </div>
    </div>
    <content>
        <br>
        <br>
        <br>
        <div class="hold">
            <%-questionHTML%>
        </div>
        <br />

        <button style="border: 5px solid var(--secondaryColor);" onclick="eoq()">Submit!</button>
        <br />
        <br />
        <br />
    </content>
    <script>
        recent = localStorage.getItem("visited")
        quizid = document.location.href.split("/").slice(-1) //list by default, handy

        final = ""
        if (recent == null){
            final = JSON.stringify({
                data:quizid
            })
        }
        else {
            data = JSON.parse(recent).data
            data.unshift(quizid[0])          //unshift so that Set removes the OLD duplicate, whereas a .push element thats duplicated stays stationary  
            data = Array.from(new Set(data)) //new Set() just to remove duplicates the easy way
            final = JSON.stringify({
                data:data.slice(-5)
            })
        }
        localStorage.setItem("visited", final)
    </script>
</body>
</html>