<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quizzle - <%=title%></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <style>
        
    </style>
    <script src="/quiz.js" async defer></script>
</head>
<body>
    <div class="banner">
        <h1><%=title%></h1>
    </div>
    <br>
    <br>
    <br>
    <center>
        <div class="hold">
            <%-questionHTML%>
        </div>
        <br />

        <button onclick="eoq()">Submit!</button>
        <br />
        <br />
        <br />
        <b><a href="/">Back to Home</a></b>
    </center>

</body>
</html>