<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Quizzle - Make a quiz</title>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/style.css">
    <script src="/quizmaker.js" async defer></script>
    <style>
        input {
            text-transform: none !important;
        }
    </style>
</head>

<body>
    <div class="banner">
        <div class="logo">
            <img src="/favicon.svg">
            <h1>Quizzle</h1>
        </div>
        <div class="options">
            <h2><a href="/">Home</a></h2>
            <h2><a href="/signin">Account</a></h2>
        </div>
    </div>
    <content>
        <br>
        <br>
        <br>
        <h1>MAKE YOUR IDEAL QUIZ!</h1>
        <form action="/makeQuiz" method="post">
            <h2 style="width:fit-content;min-width: 135px;padding-inline: 10px;" contenteditable="true">Quiz Name [Click To Edit]</h2>
            
            
            <h2>Description</h2>
            <input type="text" name="description">
            <h2>Keywords (Delimited by a comma)</h2>
            <input type="text" name="keywords">



            <div class="sep"></div>
            <h2>Question 1</h2>
            

            <input type="text" name="question:1"> <br>
            <h4>Correct answer</h4>
            <input type="text" name="choice:1:1:correct"> <br>

            <h4>Other answers</h4>
            <input type="text" name="choice:1:2"> <br>
            <button type="button" onclick="createMoreChoices(1)">Add another choice</button>
            <div class="sep"></div>


            <button type="button" onclick="anotherQ()">Make another question</button>
            <div class="sep"></div>
            <button type="button" onclick="fSubmit()">Submit!</button>
        </form>
    </content>
</body>

</html>