<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Quizzle - Results for <%=query%></title>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/style.css">
    <style>
        a{
            display: inline-flex;
            flex-direction: row;
            align-items: center;
        }
        h4 {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        
        img{
            position: relative;
            left: 10px;
            height: 25px;
        }
    </style>
    <script src="ejs.min.js"></script> <!--Yes, I know its blocking, but I need these to be displayed the same time the page renders, so sorry ! its just 20 kb on a local connection, it'll be fine anyways-->
    
</head>
<body>
    <div class="banner" style="display: flex;justify-content: space-between;">
        <div class="logo">
            <img src="/favicon.svg">
            <h1>Quizzle</h1>
        </div>
        <div class="options">
            <h2><a href="/">Home</a></h2>
            <h2><a href="/signin">Account</a></h2>
        </div>

    </div>
    <content>
        <br>
        <br>
        <br>
        <div>

        </div>
    </content>

</body>
</html>
<script>
    let results = atob("<%-results%>")
    let final = ""
    if (results == '[]'){
        final = "<h1>No Results!</h1>"
    }
    else {

        results = JSON.parse(results)
        let searchResultTemplate = `<h4><a href="<%%=url%>"><%%=name%></a></h4><p class="description"><%%=description%></p>`
        results.forEach(row=>{
            let quizname = row["quizname"]
            let qdescription = row["quizdescription"]
            let qurl = `/quiz/${row["quizurl"]}`
            final += ejs.render(searchResultTemplate, {url:qurl,name:quizname,description:qdescription})
        })
    }
    document.querySelector('content div').innerHTML = final
</script> 
