<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quizzle - Sign In</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="banner">
        <h1>Quizzle</h1>
    </div>
    <br>
    <br>
    <br>
    <center>
        <div class="hold">
            <h1> - SIGN IN - </h1>
            <div class="sep"></div>
            <form action="/signIn/" method="post" style="display: flex;flex-direction: column;align-items: center;">
                <h2>USERNAME</h2>
                <input type="text" name="username" id="uname"><br><br>
                <h2>PASSWORD</h2>
                <input type="password" name="password" id="pass"><br><br>
                <input type="submit" value="GO!">
            </form>
        </div>
    </center>
</body>
</html>




