<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quizzle - Teacher Panel</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <center>
        <h1>- TEACHER PANEL -</h1>
        <div class="sep"></div>
        <button onclick="quiz()">Quiz Maker</button>
        <button onclick="account()">Password Change</button>
    </center>
</body>

</html>